<a href="https://colab.research.google.com/github/kipsangchepesa/IP-week-four/blob/main/Python_Mutai_Nicholas_Kipsang_Prep_DCSH11_08_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 Importing Libraries.

In [32]:
#pandas Library
import pandas as pd

#Numpy library
import numpy as np

#seaborn library
import seaborn as sns

# 1.2 Loading dataset from URL

In [33]:
# function to load data from csv, excel both locally or from url.
#defining function call loadData() and assign a paremter path.
def loadData(path):
  df=pd.read_csv(path)
  return df

# Loading Autolib dataset using loadData()

In [34]:
# loading autolib data by calling our function
#by passing an argument to  load ()
shared_electric =loadData("http://bit.ly/autolib_dataset")

#viewing the last 2 rows
shared_electric.tail(2)

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[2 rows x 25 columns]

In [35]:
#checking the information about our dataset.
shared_electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [36]:
#checking for duplicates 
shared_electric.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [37]:
#there are no duplicte values

# 1.3 Cleaning our dataset

In [38]:
#Dropping Displayed comment and Scheduled at columns because they have less entry 
#which are not significant in the analysis.
shared_electric.drop(["Displayed comment","Scheduled at"], inplace=True,axis=1)

#display the first two rows of shared_electric dataset.
shared_electric.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 23 columns]

###     creating a new dataset call autolib.csv

In [ ]:
#using to_csv function to save out clean dataset

In [39]:
#creating a new csv from shared_electric dataset
shared_electric.to_csv("autolib.csv")

In [43]:
#loading our new dataset using loadData()
#by passing the path "/content/autolib.csv" as an argument.
autolib =loadData("/content/autolib.csv")

#dropping the "Unnamed: 0" column in our new dataset
autolib.drop(["Unnamed: 0"], inplace= True, axis=1)
#view the first 4 rows
autolib.head(4)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3            51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37

[4 rows x 23 columns]