<a href="https://colab.research.google.com/github/kipsangchepesa/IP-week-four/blob/main/Python_Mutai_Nicholas_Kipsang_Prep_DCSH11_08_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 Loading sql extentension and connecting to database

In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

# 1.2 After downloading autolib.csv from the other notebook

In [ ]:
#importing pandas
import pandas as pd

#opening the csv file.

with open('autolib.csv','r') as f:
    Gari = pd.read_csv(f, index_col=0, encoding='utf-8')
#creating table call Gari
%sql DROP TABLE if EXISTS Gari;
%sql PERSIST Gari;
%sql SELECT * FROM Gari LIMIT 5

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 (3, '51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 (4, '6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

# 1.3 Answering questions

In [ ]:
#most popular hour of picking a car in paris
%%sql
select City,hour,count(hour)from Gari
where City='Paris' AND month =4 AND year=2018 AND Slots < 7 group by hour 
order by count(hour) desc limit 1

 * sqlite://
Done.

[('Paris', 21, 147)]

In [ ]:
#What is the most popular hour for returning cars
%%sql
select hour,count(hour)from Gari
where  Slots >0 group by hour 
order by count(hour) desc limit 1

 * sqlite://
Done.

[(16, 152)]

In [ ]:
#most popular station.
%%sql
select "Station type", count("Station type") from Gari
group by "Station type" order by count("Station type") desc limit 1

 * sqlite://
Done.

[('station', 4615)]

In [ ]:
#most popular station at the most popular picking hour.
%%sql
select "Station type", count("Station type") from Gari
where "hour" =21
group by "Station type" order by count("Station type") desc limit 1

 * sqlite://
Done.

[('station', 220)]

In [33]:
#what postal code is most popular for picking up blue cars.
%%sql
select "Postal code", count("Postal code") from Gari
where "Bluecar counter"> 0 AND Slots< 7
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75015, 195)]

In [32]:
#what postal code most popular picking blue car at most popular picking hour.
%%sql
select "Postal code", count("Postal code") from Gari
where "Bluecar counter"> 0 AND Slots< 7 AND "hour" =21
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75014, 12)]

In [30]:
#do the results change usng utilib and utilib 1.4
#utilib
#not the same
%%sql
select "Postal code", count("Postal code") from Gari
where "Utilib counter"> 0 AND Slots< 5 AND "hour" =21
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75014, 2)]

In [29]:
#utilib again
#not the same.
%%sql
select "Postal code", count("Postal code") from Gari
where "Utilib counter"> 0 AND Slots< 5
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75017, 20)]

In [28]:
#utlib 1.4
%%sql
select "Postal code", count("Postal code") from Gari
where "Utilib 1.4 counter"> 0 AND Slots< 4
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75017, 36)]

In [27]:
#utilib 1.4 
%%sql
select "Postal code", count("Postal code") from Gari
where "Utilib 1.4 counter"> 0 AND Slots< 4 AND "hour" =21
group by "Postal code" 
order by count("Postal code") desc limit 1

 * sqlite://
Done.

[(75014, 5)]